<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.irfsf.todo808956.notepad">


    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="14" />


    <application

        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity android:name="com.irfsf.todo808956.Main" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.irfsf.todo808956.NoteEdit" />



        <service
            android:name="com.irfsf.todo808956.TheAlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.irfsf.todo808956.TheAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

    </application>

</manifest>